PORT=3000
NODE_ENV=development
CORS_ORIGINS=http://localhost:5173

DATABASE_URL=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

JWT_SECRET=
JWT_EXPIRES_IN=8h

WHATSAPP_PHONE=
TEST_ADMIN_PASSWORD=

SEED_ADMIN_NAME=
SEED_ADMIN_EMAIL=
SEED_ADMIN_PASSWORD=
